<div class="filter-container">
    <h3>Price Filter</h3>
    <input type="number" [(ngModel)]="minPrice" /> - <input type="number" [(ngModel)]="maxPrice" />
    <mat-slider min="0" max="1000" [(ngModel)]="minPrice"></mat-slider>
    <mat-slider min="0" max="1000" [(ngModel)]="maxPrice"></mat-slider>
    <h3>Rating Filter</h3>
    <input type="number" min="0" max="5" step="0.1" [(ngModel)]="minRating" /> - <input type="number" min="0" max="5" step="0.1" [(ngModel)]="maxRating" />
    <mat-slider min="0" max="5" step="0.1" [(ngModel)]="minRating"></mat-slider>
    <mat-slider min="0" max="5" step="0.1" [(ngModel)]="maxRating"></mat-slider>
    <button (click)="filterItems()">Apply Filter</button>
</div>
